<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pratyush</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href='static/second/img/icons8-pc-16.png' type="image/x-icon">
  <link rel="stylesheet" href='static/second/css/main.bundle.css'>
  <script src="https://kit.fontawesome.com/4e5a72c756.js"></script>
  <link href='static/second/css/styles.css' rel="stylesheet">

</head>

<body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item is-hidden-desktop">
        <a href="https://github.com/Pratyush7218" class="icon is-large has-text-light">
          <i class="fab fa-2x fa-github"></i>
        </a>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="https://github.com/Pratyush7218" class="icon is-large has-text-light">
            <i class="fab fa-3x fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="level">
          <div class="level-item has-text-centered">
            <figure class="image is-128x128">
              <img class="is-rounded" src='static/second/img/Pratyush-Photo1.jpg'>
            </figure>
          </div>
        </div>
        <div class="columns has-text-centered">
          <div class="column">
            <h1 class="title is-1">
              Pratyush Choudhary
            </h1>
            <h2 class="subtitle">
              FullStack Python Dev
            </h2>
            <p>
              <a href='static/second/docs/Pratyush-Python.pdf' class="icon has-text-light">
                <i class="fas fa-file-word"></i> <strong>Resume</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">About Me</h1>
      <hr />
      <p>Dedicated Developer with a passion for creating innovative solutions. Skilled in a wide range of technologies
        including HTML, CSS,
        JavaScript, Python, Django, and SQL. Proven track record of leveraging REST API integration for enhancing user
        experience. Excels in
        analyzing stock markets and implementing algorithmic trades. Eager to contribute expertise to drive advancements
        aligned with the
        company's mission.</p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Internship</h1>
      <hr />
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src='static/second/img/codeSpyderlogo.jpg' alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">CodeSpyder Technology</p>
              <p class="subtitle is-6">Title - <time datetime="2018-1">Apirl 2024</time> - <time
                  datetime="2019-9">December 2024</time> </p>
            </div>
          </div>
          <div class="content">
            <p><b>Project Title</b><br> Stock Market Analysis and Algorithmic Trading Platform.</p>
            <p><b>Description</b><br> Developed a comprehensive web-based platform for analyzing the NSE (National
              Stock Exchange) and BSE (Bombay Stock Exchange) stock markets and executing algorithmic trades.</p>
            <p><b>Key Responsibilities</b><br></p>
            <ul>
              <li>Integration with Angel One API: Utilized the SMARTAPI library to connect to Angel One's third-party
                API for real-time market data and trading functionalities.</li>
              <li>Dashboard Development: Designed and implemented an intuitive, responsive dashboard using HTML, CSS,
                and JavaScript for enhanced user experience and market visualization.</li>
              <li>Algorithmic Trading: Integrated Smart API functionalities to execute algorithmic trades, access live
                market data, and manage user portfolios.</li>
              <li>Database Management: Employed SQL to manage user data, trading records, and market information
                efficiently.</li>
              <li>Backend Development: Connected the web application to Angel One using Python, ensuring seamless data
                flow between the client interface and the server.</li>
              <li>Testing and Debugging: Conducted rigorous testing and debugging to ensure application reliability and
                performance.</li>
            </ul>
            <div class="tags">
              <span class="tag">HTML</span>
              <span class="tag">CSS</span>
              <span class="tag">JavaScript</span>
              <span class="tag">Python</span>
              <span class="tag">Django</span>
              <span class="tag">REST API</span>
              <span class="tag">SQL</span>
              <span class="tag">SMARTAPI</span>
            </div>
          </div>
        </div>
      </div>


      <!-- THIS IS THE CODE OF THE CARD  -->
      <!-- <div class="card card-gap">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src='static/second/img/pied-piper-logo.png' alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Company Name</p>
              <p class="subtitle is-6">Title - <time datetime="2018-1">August 2017</time> - <time
                  datetime="2017-9">January 2018</time></p>
            </div>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
            <ul>
              <li>Noteworthy achievment here.</li>
              <li>Noteworthy achievment here.</li>
              <li>Noteworthy achievment here.</li>
            </ul>
            <div class="tags">
              <span class="tag">c#</span>
              <span class="tag">xamarin</span>
              <span class="tag">asp.net core</span>
              <span class="tag">.net core</span>
              <span class="tag">azure</span>
              <span class="tag">devops</span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Projects</h1>
      <hr />
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Project title</p>
                <figure class="image is-3by2">
                  <img class="modal-trigger" data-target="project-1-modal" src='static/second/img/project-1-cover.png'>
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Project title</p>
                <figure class="image is-4by3">
                  <img class="modal-trigger" data-target="project-2-modal" src='static/second/img/project-2-cover.png'>
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Project title</p>
                <figure class="image is-4by3">
                  <img class="modal-trigger" data-target="project-3-modal" src='static/second/img/project-3-cover.png'>
                </figure>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Project title</p>
                <figure class="image is-4by3">
                  <img class="modal-trigger" data-target="project-4-modal" src='static/second/img/project-4-cover.png'>
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Project title</p>
                <figure class="image is-4by3">
                  <img class="modal-trigger" data-target="project-5-modal" src='static/second/img/project-5-cover.png'>
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification">
                <p class="title">Project title</p>
                <figure class="image is-4by3">
                  <img class="modal-trigger" data-target="project-6-modal" src='static/second/img/p6_vocb_excel_2.png'>
                </figure>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Skills</h1>
      <hr />
      <div id="skills">
        <ul>
          <li>JavaScript</li>
          <li>Python</li>
          <li>HTML</li>
          <li>Django</li>
          <li>API</li>
          <li>FastAPI</li>
          <li>SQLite</li>
          <li>MySQL</li>
          <li>PostgreSQL</li>
          <li>C</li>
          <li>C#</li>
          <li>C++</li>
          <li>Data modeling</li>
          <li>Bootstrap</li>
          <li>CSS</li>
          <!-- <li>Ruby</li>
          <li>Go</li>
          <li>Node.js</li>
          <li>AngularJs</li>
          <li>React</li>
          <li>Elixir</li>
          <li>Java</li>
          <li>C</li>
          <li>C#</li>
          <li>C++</li>
          <li>Ruby on Rails</li> -->
        </ul>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Education / Training</h1>
      <hr />
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src='static/second/img/GHRaisoni.jpg' alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">G H Raisoni College Of Engineer</p>
              <p class="subtitle is-6">Title - <time datetime="2018-1">June 2022</time> - <time datetime="2019-9">June
                  2024</time> </p>
            </div>
          </div>
          <div class="content">
            Master Of Computer Application - MCA, Computer Application
            <br><br>
            <b>Academic Projects</b>
            <ul>
              <li>House Price Prediction Using Machine Learning.</li>
              <li>Extract_Vocablary_Using_NLP.</li>
              <li>Chat Bot.</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="card card-gap">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src='static/second/img/VidyaBharti2.png' alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Vidya Bharati Mahavidyalaya Amravati</p>
              <p class="subtitle is-6">Title - <time datetime="2018-1">June 2017</time> - <time datetime="2019-9">June
                  2021</time> </p>
            </div>
          </div>
          <div class="content">
            Bachelor Of Science - Bsc, Bachelor Of Computer Science
            <br><br>
            <b>Academic Projects</b>
            <ul>
              <li>Password Generator.</li>
              <li>Unit Converter.</li>
              <li>Portfolio.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Contact</h1>
      <hr />
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <a href="https://github.com/Pratyush7218" class="icon is-large">
              <i class="fab fa-2x fa-github"></i>
            </a>
            <p class="heading"><a href="https://github.com/Pratyush7218">github.com/Pratyush</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="" class="icon is-large">
              <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
            </a>
            <p class="heading"><a href="">+91-7218625321</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="mailto:pratyushchoudhary72" class="icon is-large">
              <i class="fas fa-2x fa-envelope"></i>
            </a>
            <p class="heading"><a href="mailto:pratyushchoudhary72@gmail.com">pratyushchoudhary72@gmail.com</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="https://www.linkedin.com/in/pratyush-choudhary-abb227210/" class="icon is-large">
              <i class="fab fa-2x fa-linkedin-in"></i>
            </a>
            <p class="heading"><a href="https://www.linkedin.com/in/pratyush-choudhary-abb227210/">linkedin</a></p>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <div id="contact">
    <h2>Get in Touch</h2>
    <div id="contact-form">
      <form method="POST" action="https://formspree.io/f/meoewqyr">
        <input type="hidden" name="_subject" value="Contact request from personal website" />
        <input type="email" name="_replyto" placeholder="Your email" required>
        <textarea name="message" placeholder="Your message" required></textarea>
        <button onclick="reset" type="submit">Send</button>
      </form>
    </div>
    <!-- End #contact-form -->
  </div>
  <!-- Modals -->
  <div id="project-1-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <div id="project-1-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/1.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/2.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/3.png'>
          </figure>
        </div>

        <div class="content">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>

          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>

        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-2-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        <div id="project-2-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/1.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/2.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/3.png'>
          </figure>
        </div>

        <div class="content">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>

          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>

        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-3-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-3-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/1.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/2.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/3.png'>
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">Python</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-4-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-4-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/1.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/2.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/3.png'>
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">Python</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-5-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-5-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/1.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/2.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/3.png'>
          </figure>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.</p>
          <div class="tags">
            <span class="tag">angular</span>
            <span class="tag">mongo</span>
            <span class="tag">typscript</span>
            <span class="tag">node</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <div id="project-6-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="project-6-modal-carousel" class="carousel">
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/p6_vocb_excel_1.png'>
          </figure>
          <figure class="image is-4by3 carousel-cell">
            <img src='static/second/img/carousel/p6_vocb_excel_2.png'>
          </figure>
        </div>

        <div class="content">
          <p><b>Data Collection</b>– Gathering text from documents, websites, or datasets.
            <b>Text Processing</b>– Tokenizing, removing stopwords, and stemming/lemmatizing.
            <b>Vocabulary Extraction</b>– Identifying unique words, keywords, or domain-specific terms.</p>
          <div class="tags">
            <span class="tag">Python</span>
            <span class="tag">Pandas</span>
            <span class="tag">csv</span>
            <span class="tag">NLTK</span>
            <span class="tag">Jupyter Notebook</span>
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Close</button>
      </footer>
    </div>
  </div>
  <script src='static/second/js/bundle.js'></script>
</body>

</html>